* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #f5f7fa;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  width: 1280px;
  margin: auto;
}
.main-container {
  width: 1280px;
  height: 1626px;
  background-color: rgba(0, 0, 0, 0.0001);
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.25);
}

.nav-bar {
  padding-top: 26px;
}

.photo {
  width: 1280px;
  height: 789px;
  padding-top: 26px;
}
.nav-links {
  text-decoration: none;
  color: #ff0000;
  margin: 40px;
}
.nav-list {
  display: flex;
  justify-content: center;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #ff0000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2.7px;
}

.title {
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
  padding-top: 48px;
  padding-bottom: 10px;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
}

.paragraph {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
  font-style: normal;
  font-weight: normal;
  padding-top: 28px;
  padding-left: 67.5px;
  padding-right: 67.5px;
}

.button {
  display: flex;
  text-align: center;
  padding-top: 66px;
  justify-content: center;
  transition: 0.8s;
}
.button-link {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 18px 43px;

  color: red;
  border: 1px solid red;
  border-radius: 4px;
}

.button-link:hover {
  background: #8e0000;
  box-shadow: 0 0 5px red;
  color: white;
}
.invisible-item {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #373737;
  visibility: hidden;
  padding-left: 105px;
  padding-bottom: 93px;
}

.footer-text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  letter-spacing: 2.4px;
  color: #373737;
  padding-top: 82px;
  padding-left: 715px;
}
